html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.parsley-errors-list {
  list-style: none;
  padding-left: 0.3em;
  font-size: 0.8em;
  color: #c62828;
}

.header-logo {
  height: 55px;
}
